header.header
    .header__logo RKN Checker
    .header__add
        input#addInput(type='text', placeholder='Введите имя домена')
        button#addDomain Добавить
    .header__error#input-error Введите правильное имя домена
    .header__error#cloneDomen Такой домен уже есть в списке
main#content.main
    .main__head
        .main__head__domain Домен
        .main__head__dateAdd Дата добавления
        .main__head__ban В базе РКН
        .main__head__button Действие
#preloader
    .load
        hr
        hr
        hr
        hr